<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Schlappekino.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E42D638219559B6D007E45FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42D639419559B6D007E45FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4C587E61969BB770025AE8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
